<!DOCTYPE html>
{% extends './base.html' %}
{% load static %}
{% block body_block %}

<div class="jumbotron">
  {% if registered %}
  <h1>Thank You For Registering!</h1>

  {% else %}
    <h1>Register Here!</h1>
    <h3>Fill out the form:</h3>
    <form class="" action="" method="post" enctype="multipart/form-data" >
      {% csrf_token %}
      {{ userform.as_p }}
      {{ profileform.as_p }}
      <input type="submit" class="btn btn-outline-success" name="" value="Register">
    </form>
  {% endif %}

</div>

{% endblock %}
